<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Chinese</key>
	<dict/>
	<key>English</key>
	<dict>
		<key>registerview_labelemail</key>
		<string>Email</string>
		<key>registerview_buttondone</key>
		<string>Finish</string>
		<key>registerview_labelrepass</key>
		<string>Repeat password</string>
		<key>registerview_labelpass</key>
		<string>Password</string>
		<key>registerview_labelusername</key>
		<string>User name</string>
		<key>registerview_labelname</key>
		<string>Full name</string>
		<key>registerview_title</key>
		<string>Regist an account ezV</string>
		<key>rememberlabel</key>
		<string>Remember</string>
		<key>messalertlogin</key>
		<string>Login with account ezV to learn more or register now if you don&apos;t have an account.</string>
		<key>titlealertlogin</key>
		<string>Login</string>
		<key>titlealertmenu</key>
		<string>Alert</string>
		<key>titlebuttoncancel</key>
		<string>Cancel</string>
		<key>alertmenumess</key>
		<string>Do you want to learning VietNamese now?</string>
		<key>password</key>
		<string>Password</string>
		<key>username</key>
		<string>User name</string>
		<key>register</key>
		<string>Register</string>
		<key>course</key>
		<string>List of courses</string>
		<key>login</key>
		<string>Login</string>
		<key>help</key>
		<string>Help</string>
		<key>learn</key>
		<string>Study</string>
		<key>test</key>
		<string>Do test</string>
		<key>setting</key>
		<string>Setting</string>
	</dict>
	<key>Japanese</key>
	<dict/>
	<key>VietNamese</key>
	<dict>
		<key>rememberlabel</key>
		<string>Ghi nhớ</string>
		<key>titlealertlogin</key>
		<string>Đăng nhập</string>
		<key>messalertlogin</key>
		<string>Đăng nhập tài khoản evZ để chọn thêm nhiều bài học hoặc đăng ký tài khoản nếu bạn chưa có.</string>
		<key>titlealertmenu</key>
		<string>Chú ý</string>
		<key>titlebuttoncancel</key>
		<string>Huỷ</string>
		<key>alertmenumess</key>
		<string>Bạn có muốn hoc tiếng  Việt ngay không?</string>
		<key>register</key>
		<string>Đăng ký</string>
		<key>login</key>
		<string>Đăng nhập</string>
		<key>password</key>
		<string>Mật khẩu</string>
		<key>username</key>
		<string>Tên đăng nhập</string>
		<key>setting</key>
		<string>Cài đặt</string>
		<key>help</key>
		<string>Hướng dẫn</string>
		<key>course</key>
		<string>Danh sách khoá học</string>
		<key>test</key>
		<string>Ôn bài</string>
		<key>learn</key>
		<string>Học bài</string>
	</dict>
</dict>
</plist>
